<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/5d5b48c9-32d2-4502-a376-d23384ef5269.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum repellat quae quisquam laboriosam maxime sequi illo exercitationem necessitatibus rerum at, iusto laborum perferendis sint natus nihil quaerat. Mollitia, possimus beatae?</p>
        </span>
    </div>
</div>