.row{
    padding: 20px;
}
div{
    background-color: #F9BA58;
    text-align: center;
}
/*foto de perfil*/ 
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }

    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}